<h1>Admin Vote Called</h1>
<p>A new admin vote has been initiated by <%= @admin_vote.initiator.email %>.</p>
<p>Reason: <%= @admin_vote.reason %></p>
<p>Vote type: <%= @admin_vote.vote_type.humanize %></p>
<p><%= link_to 'View Vote', admin_vote_url(@admin_vote) %></p>
