<div style="background-color: #ff0000; border: 1px solid #be0b0b; padding: 20px; margin: 0 auto; max-width: 500px;">
    <h2 style="color: #e6f2fe; text-align: center; margin: 0 auto;">Narratree</h2>
</div>
<div style="background-color: #f19898;  text-align: center; border: 1px solid #be0b0b; padding: 20px; margin: 0 auto; max-width: 500px;">
    <h2 style="color: #000000; font-size: 22px; margin-bottom: 16px;">
        Warning!
    </h2>
    <p style="font-size: 18px; color: #000; font-weight: bold; margin-bottom: 20px;">
        An admin has flagged your account for suspicious activity.
    </p>
    <p style="font-size: 16px; color: #333; margin-bottom: 12px;">
        This is a warning to inform you that further violations may lead to account suspension.
        There is no immediate punishment, just please review our community guidelines to ensure compliance.
    </p>
    <p style="font-size: 16px; color: #333; margin-bottom: 12px;">
        The admin's message:
    </p>
    <p style="font-size: 16px; color: #333; font-style: italic; margin-bottom: 20px; border-left: 4px solid #be0b0b; padding-left: 12px;">
        "<%= @admin_message %>"
    </p>
    <p style="font-size: 18px; color: #000; font-weight: bold; margin-bottom: 20px;">
        We appreciate your understanding and cooperation.
    </p>
</div>