<div class="comment-form">
  <%= form_with model: [ article, article.comments.build ] do |form| %> 
    <div class="comment-body-section">
      <%= form.text_area :body, class: "comment-body-textarea" %>
    </div>
    <div class="form-submit-section">
      <%= form.submit "Post", class: "form-submit-button" %>
    </div>
  <% end %>
</div>
