
<div class="header">
    <h1 class="page-title">atshaw1994's BlogSite</h1>
    <p class="page-subtitle">A place to share knowledge and ideas</p>
    <div class="header-links">
      <%= link_to "Home", root_path %>
      <%= link_to "New Article", new_article_path %>
    </div>
</div>

<div class="article-list">
    <ul>
    <% @articles.each do |article| %>
        <li>
        <%= link_to article.title, article %>
        </li>
    <% end %>
    </ul>
</div>