<div class="article-list">
    <h2>Articles</h2>
    <ul class="articles">
        <li class="article-item">
            <%= link_to new_article_path do %>
                <div class="card card-post">
                    <h3 class="article-title">Post...</h3>
                </div>
            <% end %>
        </li>
        <% @articles.each do |article| %>
                <li class="article-item">
                    <div class="card article-card-grid">
                        <div class="article-card-main">
                            <h3 class="article-title"><%= article.title %></h3>
                            <div class="article-author">by <%= article.author || 'Unknown' %></div>
                        </div>
                        <div class="article-card-delete">
                            <%= link_to article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                                <span class="material-symbols-outlined article-card-delete-icon">delete</span>
                            <% end %>
                        </div>
                    </div>
                </li>
        <% end %>
    </ul>
</div>