<tr>
  <td><%= ticker_message.id %></td>
  <td><%= ticker_message.message %></td>
  <td><%= ticker_message.created_at %></td>
  <td>
    <div style="display: flex; gap: 0.5em; align-items: center;">
      <%= button_to ticker_message_path(ticker_message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-delete-button' do %>
        <span class="material-symbols-rounded" style="font-size: 20px; color: #fff;">delete</span>
      <% end %>
    </div>
  </td>
</tr>