<div class="section-container" style="<%= defined?(style) && style.present? ? style : '' %>">
  <div class="section-container-header">
    <%= header %>
  </div>
  <div class="section-container-body">
    <% if local_assigns[:body] %>
      <%= body %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
