<% content_for(:title, "Narratree - About") %>

<div class="section-container">
    <div class="section-container-header">
        <h1>About Narratree</h1>
    </div>
    <div class="section-container-body" style="display: flex; flex-direction: column;">
    <p>This is a publishing site where you can post articles and browse other users' articles. This is the first version of the site so do understand there WILL be bugs. I'm still ironing out the issues.</p>
        <p>On The Odin Project, a person can start with little to no background of programming and work their way up to getting hired as a Software Engineer!</p>
    <p>This project was built using The Odin Project. In a little over a month, I went from knowing absolutely zero about web development to hosting a fully featured publishing site!</p>
        <p>Also, please understand that until the site gets more stable and most of the bugs are fixed,</p>
        <p>this site will be on the free tier of Render (the service that is hosting the site). This means access will be slow at times and certain things either will not work or take longer to fix.</p>
        <p>As the site gets more traction, I will upgrade to one of the paid tiers.</p>
        <p></p>
        <p style="font-size: 0.8em;">Ruby version: ruby 3.2.3 (2024-01-18 revision 52bb2ac0a6) [x86_64-darwin25]</p>
        <p style="font-size: 0.8em;">Rails version: Rails 7.2.2.2</p>
        <p style="font-size: 0.8em;">Database: PostgreSQL 17.6</p>
        <p style="font-size: 0.8em;">Hosted on: Render.com</p>
    </div>
</div>