<div class="section-container">
    <div class="section-container-header">
        <h2>Community Guidelines</h2>
    </div>
    
    <div class="section-container-body" style="display: flex; flex-direction: column; gap: 1em;">
        <h4>Welcome to Narratree!</h4>
        
        <p>To ensure a positive experience for all members, please adhere to the following guidelines:</p>
        <ul style="list-style-type: disc; padding-left: 20px;">
            <li>Be respectful and considerate to all members.</li>
            <li>No hate speech, harassment, or discrimination.</li>
            <li>Do not post illegal, explicit, or violent content.</li>
            <li>Respect privacy — do not share personal information without consent.</li>
            <li>Report any violations to the administrators.</li>
            <li>Follow all applicable laws and platform rules.</li>
            <li>
                Absolutely NO political content or discussions.
                <ul>
                    <li><p>Though I (the owner) support political discourse, </p>
                        <p>it must be kept off of this platform.</p></li>
                    <li>Violations will be removed without warning.</li>
                    <li>This is not 4chan.</li>
                </ul>
            </li>
        </ul>

        <p>Violations may result in content removal or account suspension.</p>
        <p>Thank you for helping us build a safe and positive community!</p>
    </div>
</div>
