.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--section-bg-color);
    border: 1px solid var(--section-border-color);
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--section-shadow-color);
}
#admin-tabs{
    border: 0 solid white;
}
.admin-tab-buttons {
    padding: 0.5em 1em;
}
.admin-tab-btn{
    background: none;
    border: none;
    outline: none;
    color: var(--body-color);
    background-color: transparent;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
}
.admin-tab-btn.active {
    border-bottom: 2px solid white;
    font-weight: bold;
}
.admin-table th,
.admin-table td {
  border: 1px solid var(--section-header-border);
  padding: 0.5em 0.75em;
  text-align: left;
}
.admin-table th {
    background-color: var(--section-header-gradient-start);
    color: var(--section-header-text-color);
}

/* Prevent selection of admin dashboard table header text and arrows */
.admin-table th span,
.admin-table th .sort-arrow {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.admin-delete-button {
    background-color: #d32f2f;
    border: 1px solid #921616;
    color: #ffa0a0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.25em 0.5em;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.6;
}

.admin-delete-button:hover {
    background-color: #b71c1c;
    color: #ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1.0;
}

.admin-approve-button {
    background-color: #388e3c;
    border: 1px solid #1b5e20;
    color: #a5d6a7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.25em 0.5em;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0.6;
}

.admin-delete-button span,
.admin-approve-button span,
.admin-reject-button span {
    padding-top: 4px;
}