.body-content > .section-container {
  margin-left: auto;
  margin-right: auto;
}
/* Moderator flag button styles */
.flag-button {
  background-color: #FFD07B;
  border-radius: 100%;
  color: #1A150C;
  border: 1px solid #B39256;
  cursor: pointer;
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.flag-button:hover {
  background-color: #FFC94D;
}
.flag-button:active {
  background-color: #E6A700;
  box-shadow: none;
  transform: translate(2px, 2px);
}
/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body{
  background-color: var(--body-background);
  color: var(--body-color);
}

body textarea {
  background-color: var(--textarea-background);
  border: 1px solid var(--textarea-border);
  color: var(--body-color);
  border-radius: 8px;
}

.body-content {
  height: auto;
}

.site-footer {
  background-color: var(--section-bg-color); 
  border-top: 1px solid var(--section-border-color);
  flex-shrink: 0;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
}

.user-interaction-btn {
    background: var(--btn-background);
    border: 1px solid var(--btn-border);
    box-shadow: 2px 2px 4px var(--btn-shadow);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    transition: background 0.1s;
}

.user-interaction-btn .material-symbols-rounded {
    color: var(--btn-icon-color);
    font-size: 1.4rem;
    transition: color 0.1s;
}

.user-interaction-btn:hover .material-symbols-rounded {
    color: var(--btn-hover-icon-color);
}

.user-interaction-btn:hover {
    background: var(--btn-hover-background);
}

.user-interaction-btn:active {
  background-color: var(--btn-active-background);
}

.user-interaction-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.material-symbols-rounded.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.form-input-field {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  font-size: 1.2em;
  border-radius: 8px;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding-left: 8px;
}

.form-input-field:focus {
  background-color: var(--input-focus-background);
  border-color: var(--input-focus-border);
  outline: none;
}

.form-input-field-label {
  font-size: 1.4em;
  margin-left: 4px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 150px;
  transition: all 0.25s ease;
}

.search-bar-container:hover,
.search-bar-container:focus-within {
  width: 70%;
  flex-grow: 1;
}

.search-input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--body-color);
  font-size: 1.2em;
  border-radius: 8px;
  width: 100%;
  transition: all 0.25s ease;
  height: 32px;
  box-sizing: border-box;
  padding-left: 8px;
  font-style: italic;
  margin-left: 16px;
}

.search-input:focus {
  background-color: var(--input-focus-background);
  border-color: var(--input-focus-border);
  outline: none;
}

.default-user-icon {
  font-size: 48px;
}

.flash-messages {
  color: var(--flash-text-color);
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}