body{
  background-color: var(--body-background);
  color: var(--body-color);
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
}

body textarea {
  background-color: var(--textarea-background);
  border: 1px solid var(--textarea-border);
  color: var(--body-color);
  border-radius: 8px;
}

.body-content {
  height: auto;
}

.site-footer {
  background-color: var(--section-bg-color); 
  border-top: 1px solid var(--section-border-color);
  flex-shrink: 0;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

.material-symbols-rounded.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.flash-messages {
  background-color: var(--section-bg-color);
  border: 1px solid var(--section-border-color);
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  padding: 2px 20px;
  z-index: 2000;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top;
  animation: flash-message-fly-in 6s forwards;
}

.flash-messages .flash-msg-notice {
  color: var(--flash-text-color);
  margin-top: 16px;
}
.flash-messages .flash-msg-alert {
  color: rgb(230, 0, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-top: 16px;
}