.homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 16px;
}

#saved-articles {
    margin-right: auto;
    max-width: 15vw;
    min-width: 15vw;
}

#article-list {
    width: 100%;
    margin-left: 32px;
}

.new-article-button {
    text-decoration: none;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: color 0.15s;
}

.new-article-button:hover {
    color: white;
}
