.article-page {
    width: 100%;
}

.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 16px;
}

/* Override the hover effect for the delete button */
.delete-btn:hover .material-symbols-rounded{
    color: red;
}

.article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 64px;
}

.comments-section h2 {
    align-self: center;
    justify-self: center;
}