.homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 16px;
}

#pinned-articles {
    margin-right: auto;
    max-width: 15vw;
    min-width: 15vw;
}

#article-list {
    width: 100%;
    margin-left: 32px;
}

.new-article-button {
    color: var(--new-article-btn-color);
    text-decoration: none;
    margin-right: 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.15s;
}

.new-article-button:hover {
    color: var(--new-article-btn-hover-color);
}
