
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1f92fd;
    padding: 1rem 0;
    margin: 16px;
    border-radius: 16px;
    border-bottom: 1px solid black;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
}

.page-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.page-subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 1.25rem;
  margin: -24px 0px 0px 0px;
}

.header-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.header-links a {
  border: 1px solid rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 1rem;
}

.header-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

