
.card {
    background: linear-gradient(
        to bottom right, 
        rgba(255, 255, 255, 0.2), 
        rgba(0, 0, 0, 0.1)
    );
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 8px 24px;
    cursor: pointer;
    transition: background 0.15s, border 0.15s;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card a {
    grid-column: 1 / 2;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card a:last-child {
  grid-column: 3 / 4;
  justify-self: end;
  align-self: center;
}
