.comment-form {
    background-color: rgba(31, 146, 253, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

.comment-title-label {
    font-size: 1em;
    font-weight: bold;
    margin: 16px;
}

.comment-title-textfield {
    display: block;
    margin: 16px auto;
    width: calc(100% - 32px);
}

.comment-body-label {
    font-size: 1em;
    font-weight: bold;
    margin: 16px 16px 5px 16px;
}

.comment-body-section textarea {
    display: block;
    min-height: 100px;
    margin: 16px auto;
    width: calc(100% - 32px);
    resize: none;
}

.comments-section {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.comment-card {
    display: grid;
    grid-template: 2fr / 2fr;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.comment-card-data {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.comment-card-btns {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.comment-author {
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.comment-body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.like-count {
    font-size: 0.9rem;
    align-self: center;
    justify-self: center;
    color: #555;
}