.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1f92fd;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

.page-title {
  text-align: center;
  color: #333; /* A dark gray color */
  font-family: sans-serif;
  margin-top: 2rem;
  font-size: 2.5rem;
}