/* Show modal when visible class is added */
.modal.visible {
  display: block;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--modal-overlay-bg); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-content-bg);
  color: var(--body-color);
  border: 1px solid var(--modal-content-border);
  border-radius: 8px;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  position: relative;
}

.modal-content textarea {
  background-color: var(--textarea-background);
  color: var(--textarea-color);
}

/* The Close Button */
.close-button {
  color: var(--modal-close-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

.close-button:hover,
.close-button:focus {
  color: var(--modal-close-hover-color);
  text-decoration: none;
  cursor: pointer;
}