/* Show modal when visible class is added */
.modal.visible {
  display: block;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 65px;
  width: 100%; /* Full width */
  height: calc(100% - 65px); /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: var(--modal-overlay-bg); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-content-bg);
  color: var(--body-color);
  border-radius: 8px;
  margin: 4% auto auto auto;
  width: fit-content;
}

.modal-content textarea {
  background-color: var(--textarea-background);
  color: var(--textarea-color);
}

.modal-content .section-container {
  width: 400px;
  max-width: 90vw;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}

/* The Close Button */
.close-button {
  color: var(--modal-close-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

.close-button:hover,
.close-button:focus {
  color: var(--modal-close-hover-color);
  text-decoration: none;
  cursor: pointer;
}