.mobile-dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mobile-dashboard-btn {
    background-color: var(--btn-bg);
    color: var(--btn-fg);
    border: 1px solid var(--btn-border);
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    box-shadow: 2px 2px 4px var(--btn-shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}

.mobile-dashboard-btn span {
    margin-left: auto;
}

/* #region Mobile Admin Users Dashboard */
.back-btn {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: var(--btn-icon-color);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.mobile-dashboard h1 {
    text-align: center;
    color: var(--body-fg);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: -12px;
}

.mobile-dashboard h4 {
    text-align: center;
    color: var(--body-fg);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: -12px;
}

.mobile-dashboard ul {
    list-style-type: none;
    padding: 0;
}

.mobile-dashboard-user-list {
    width: 100%;
}

.mobile-dashboard-card {
    background: linear-gradient(
        to bottom right, 
        var(--card-gradient-start), 
        var(--card-gradient-end)
        );
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mobile-dashboard .mobile-dashboard-user-avatar {
    display: flex;
    grid-column: 1 / 2;
    overflow: visible;
    position: relative;
}

.user-avatar .material-symbols-rounded.placeholder-avatar {
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-fg);
    user-select: none;
    border-radius: 50%;
}

.mobile-dashboard-user-info {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 48px;
    padding: 0;
}

.mobile-dashboard-user-info .user-name,
.mobile-dashboard-user-info .user-username {
    margin: 0;
    line-height: 1.2;
}

.mobile-dashboard-user-info .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0090ab;
}

.mobile-dashboard-user-info .user-username {
    font-size: .8rem;
    color: gray;
}

.user-actions {
    grid-column: 3 / 4;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
}

.mobile-dashboard .profile-picture-small {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--btn-border);
    box-shadow: 2px 2px 4px var(--btn-shadow);
    justify-self: center;
    align-self: center;
}

.mobile-dashboard .profile-picture-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.mobile-dashboard .default-profile-picture-small {
    font-size: 32px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-fg);
    user-select: none;
    border-radius: 50%;
    border: 1px solid var(--btn-border);
    box-shadow: 2px 2px 4px var(--btn-shadow);
}

.mobile-btn-approve-user {
    background-color: #2ecc71;
    color: #388e3c;
    border-radius: 8px;
    border: none;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-btn-approve-user span {
    font-size: 24px;
}

.mobile-btn-reject-user {
    background-color: #e74c3c;
    color: #b71c1c;
    border-radius: 8px;
    border: none;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-btn-reject-user span {
    font-size: 24px;
}
/* #endregion */

/* #region Mobile Admin Articles Dashboard */
.mobile-dashboard-article-list {
    width: 100%;
}

.mobile-dashboard-article-info {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 48px;
    padding: 0;
}
.mobile-dashboard-article-info .article-title,
.mobile-dashboard-article-info .article-author {
    margin: 0;
    line-height: 1.2;
}

.mobile-dashboard-article-info .article-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0090ab;
}

.mobile-dashboard-article-info .article-author {
    font-size: .8rem;
    color: gray;
}

.mobile-dashboard-article-actions {
    grid-column: 3 / 4;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
}

.mobile-dashboard-article-actions a {
    text-decoration: none;
    background-color: #e74c3c;
    color: #b71c1c;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-dashboard-article-actions span {
    font-size: 24px;
}
/* #endregion */