.user-profile {
  display: grid; 
  grid-template: auto 1fr / auto 1fr; 
  width: 100%; 
  margin: 0 16px;
}

.profile-section-container {
  grid-row: 1/2; 
  grid-column: 1/2; 
  margin-right: 16px;
}

.profile-section-container-body {
  display: flex; 
  flex-direction: column;
}

.hidden-file-input {
  display: none;
}

.profile-pic-small {
  border: 1px solid var(--btn-border);
  box-shadow: 2px 2px 4px var(--btn-shadow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 8px;
}

.profile-info-label {
  margin-left: 16px;
}

.profile-article-list-container {
  grid-row: span 2; 
  grid-column: 2/3;
}
