.section-container {
    background-color: rgba(31, 146, 253, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.section-container-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background: linear-gradient(
        to top left, 
        rgb(65, 151, 255), 
        rgb(139, 191, 254)
    );
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section-container-header h2 {
    margin: 0;
    color: white;
}

.section-container-body {
    display: flex;
    margin: 0 16px;
}

.section-container ul {
    list-style-type: none;
    padding-left: 0;
    flex-grow: 1;
}

.section-container li + li {
  margin-top: 10px;
}
