.signup-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

.signup-form-profile-picture-group {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-form-name-group {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.signup-form-username-group {
    grid-column: span 2;
    display: flex;
}

.signup-form-email-group {
    grid-column: span 2;
    display: flex;
}

.signup-form-password-group {
    grid-column: span 2;
    display: flex;
}

.signup-form-submit-group {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    text-align: center;
}

.signup-form-submit-button {
    background-color: var(--submit-btn-background);
    border: 1px solid var(--signup-submit-btn-border);
    color: var(--signup-submit-btn-color);
    margin-top: 4px;
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}